<div class="form-group">
    <label for="firstname">First Name%></label>
    <input required  value="<%= user.first_name %>" type="text" name="firstname" id="firstname" class="form-control" />
</div>
<div class="form-group">
    <label for="lastname">Last Name</label>
    <input required  value="<%= user.last_name %>" type="text" name="lastname" id="lastname" class="form-control" />
</div>
<div class="form-group">
    <label for="email">Email</label>
    <input required  value="<%= user.email %>" type="email" name="email" id="email" class="form-control" />
</div>
<div class="form-group">
    <label for="contact">Contact No</label>
    <input required  value="<%= user.contact %>" type="tel" name="contact" id="contact"  pattern="[6-9]{1}[0-9]{9}" class="form-control" />
</div>
<a href="/" class="btn btn-secondary">Cancel</a>
<button type="submit" class="btn btn-primary">Save</button>